---
import Layout from "../layouts/Layout.astro";
---

<Layout title="WhiteList">
	<main class="main-container">
		<h1 class="main-title">UNETE A LA RED TECNOLOGICA MAS GRANDE</h1>
	</main>
</Layout>

<style>
	.main-container{
		height: 100vh;
		background-image: url('../images/background.png');
		background-size: cover;
		background-repeat: no-repeat;
	}
</style>