<a href="/thanks">
  <button class="btn-send" type="button">enviar</button>
</a>

<style>
  a{
    text-align: ccenter;
    text-decoration: none;
  }
  .btn-send {
    width: 150px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid var(--text-color-hover);
    background-color: var(--text-color-hover);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: var(--background-card);
    border-radius: 20px;
    transition: .3s;
  }
  .btn-send:hover {
    cursor: pointer;
    background-color: var(--background-card);
    color: var(--text-color-hover);
  }
</style>