<button class="btn-send">enviar</button>

<style>
  .btn-send {
    width: 150px;
    padding: 10px;
    border: 1px solid var(--text-color-hover);
    background-color: var(--text-color-hover);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    color: var(--background-card);
    border-radius: 20px;
    transition: .3s;
  }
  .btn-send:hover {
    cursor: pointer;
    background-color: var(--background-card);
    color: var(--text-color-hover);
  }
</style>