---
import Input from './Input.astro';
import Button from './Button.astro';
---

<form class="main-card-container">
	<h2>REGISTRATE</h2>
	<Input />
	<Button />
</form>

<style>
	.main-card-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 30px;
		width: 367px;
		height: 322px;
		background-color: var(--background-card);
		border-radius: 25px;
	}
	.main-card-container h2 {
		margin-bottom: 20px;
		font-weight: 500;
		font-size: 2.4rem;
	}
</style>